<header>
  <nav>
    <a class="btn" href="/">Home</a>
    <a class="btn" href="/api/stores/store/new">Crear nueva tienda</a>
    <a class="btn" href="/api/stores/renderStores">Ver todas las tiendas</a>
  </nav>
</header>
