<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JM-Cleaner API</title>
  </head>
  <body>
    <form action="/api/stores/store/new" method="post">
      <label for="name">Nombre del local *</label><br />
      <input required type="text" name="name" /><br />
      <br />
      <label for="address">Direccion *</label><br />
      <input required type="text" name="address" /><br />
      <br />
      <label for="phone">Telefono</label><br />
      <input type="number" name="phone" /><br />
      <br />
      <label for="coordenates">Coordenadas *</label><br />
      <input required type="text" name="coordenates" /><br />
      <br />
      <label for="loc">Localidad *</label><br />
      <input required type="text" name="loc" /><br />
      <br />
      <label for="type">Tipo de local *</label><br />
      <select required name="type">
        <option value="farmacias">Farmacia</option>
        <option value="opticas">Optica</option>
      </select>
      <br />
      <br />
      <label for="state">Provincia *</label><br />
      <select required name="state">
        <% provincias.forEach(x => { %>
        <option value="<%= x.value %> "><%= x.desc %></option>
        <% }) %>
      </select>
      <br />
      <br />
      <label for="brand">Franquicia</label><br />
      <select name="brand">
        <option value="">--</option>
        <% brands.forEach(x => { %>
        <option value="<%= x.value %> "><%= x.desc %></option>
        <% }) %>
      </select>
      <br />
      <br />
      <button>Enviar</button>
    </form>
  </body>
</html>
