<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JM-Cleaner API</title>
  </head>
  <body>
    <h3>Colocar la region en la url</h3>
    <h4>Ejemplo: <a href="/api/stores/state/cordoba">.../api/stores/state/cordoba</a></h4>
  </body>
</html>
