<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <h3>Colocar la region en la url</h3>
    <h4>Ejemplo: <a href="/api/stores/state/cordoba">.../api/stores/state/cordoba</a></h4>
  </body>
</html>
